@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 10px!important;
}

.card-general {
  background-color: #121212;
  padding: 15px;
  border-radius: 4px;
}